<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
		xmlns:beans="http://www.springframework.org/schema/beans" 
		xmlns:security="http://www.springframework.org/schema/security"
		xmlns:spring="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security-3.1.xsd">
		
	<security:global-method-security pre-post-annotations="enabled" secured-annotations="enabled"/>
	<beans:bean id="webexpHandler" class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler"/>

 		<http auto-config="true" use-expressions="false">
		
		<intercept-url pattern="/insertVendorNames" access="ROLE_ADMIN,ROLE_DEP" />
		<intercept-url pattern="/insertAmcDetails" access="ROLE_ADMIN,ROLE_DEP"/>
		<intercept-url pattern="/addAmcDetailpage" access="ROLE_ADMIN,ROLE_DEP" />	
		<intercept-url pattern="/addBeforeMonth" access="ROLE_ADMIN" />	
		<intercept-url pattern="/updateAmcDetails" access="ROLE_ADMIN" /> 
		<intercept-url pattern="/getVendorDetail" access="ROLE_ADMIN,ROLE_DEP" /> 
			
		<intercept-url pattern="/insertUserLogin" access="ROLE_ADMIN" /> 	
		<intercept-url pattern="/addUsers" access="ROLE_ADMIN" /> 	
			
		<intercept-url pattern="/route" access="ROLE_ADMIN,ROLE_DEP" />
 		
		<intercept-url pattern="/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		
		<form-login login-page="/login" default-target-url="/route" authentication-failure-url="/login?err=1"/>
		<security:access-denied-handler error-page="/login?err=2"/>
		<logout logout-success-url="/" />
		</http>
	 
	<authentication-manager>
		<authentication-provider user-service-ref="myUserLoginService">
		</authentication-provider>
	</authentication-manager>
	
	<spring:bean id="myUserLoginService" class="com.amc.services.MyUserLoginService" />
	
</beans:beans>